body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.slider {
  align-items: center;
  width: 70%;
  padding: 0% 15%;
  margin-top: 20px;
}

.slider-main-photo {
  display: flex;
  flex-direction: row;
}

.container {
  width: 100%;
  flex: 1;
  justify-content: center;
}

.banner {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
}

.logo {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.navigator {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 600px;
}


