body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  padding: 10px 40px;
}

.slider {
  align-items: center;

  margin: 5px;
}

.slider-main-photo {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
}

.container {
  width: 100%;
  flex: 1;
  justify-content: center;
}

.banner {
  display: flex;
  border-radius: 4px;
}

.logo {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 120px;
  height: auto;
  cursor: pointer;
}

.navigator {
  width: 100%;
}

.subNews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subNews-child {
  padding: 5px;
  align-content: space-between;
}

.clickable-image {
  cursor: pointer;
}

.newsDetail {
  text-align: center;
}

.detailImg {
  width: 100%;
}

.spaceAround {
  padding: 7px;
  border-radius: 4px;
}
