body {
  font-family: "Playfair Display", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.App {
  padding: 10px 40px;
}

.slider {

  align-items: center;
  margin: 5px;
}

.slider-main-photo {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
}

.center {
  height: 150;
  text-align: center;
}

.center-item {
  margin: auto;
}

.banner {
  border-radius: 4px;
}

.navigator {
  width: 100%;
}

.news{
  margin: 0 2%;
}

.subNews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subNews-child {
  padding: 5px;
  align-content: space-between;
}

.clickable-image {
  cursor: pointer;
}

.newsDetail {
  text-align: center;
}

.detailImg {
  margin: 20px 0;
}

.spaceAround {
  padding: 7px;
  border-radius: 4px;
}

.logo {
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  cursor: pointer;
}

